// Variables:

$text-color: #343a40;
$accent-color: #ff6b6b;
$bg-color: #e9ecef;
$bg-contrast-color: #f8f9fa;
$bg-skills-section: #f1f3f5;
$title-fontSize: 5rem;
$text-fontSize: 2.5rem;

// Mixins:

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin titleBoxing() {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-top: 1em;
}

@mixin textStyles() {
    font-size: $text-fontSize;
    letter-spacing: 0.1rem;
    line-height: 1.4;
}

// Universal Resets:

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    // background-color: $bg-color;
    color: $text-color;
    max-width: 1700px;
    margin: 0 auto;
}

// Nav Bar:

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10em;
    position: relative;
    // background-color: $bg-color;
}

.left-nav {
    font-size: 3.2rem;
    margin: 0.5em;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 50%;
    font-size: $text-fontSize;
}

.connect {
    color: $accent-color;
}

.connect:hover {
    font-weight: 500;
    transition: ease 0.3s;
}

li a {
    text-decoration: none;
    color: $text-color;
}

li a:hover {
    color: $accent-color;
    transition: ease 0.3s;
}

.toggle-btn {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 2.5rem;
    right: 3rem;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    background-color: $text-color;
}

// Header:

.container {
    max-width: 100%;
}

.header-container {
    padding-bottom: 10em;
    height: 100vh;
}

.profile-photo {
    border-radius: 100%;
    height: auto;
    max-width: 25%;
    margin: 0 auto;
    margin-bottom: 5em;
    @include flexCenter();
}

.name {
    @include flexCenter();
    font-size: 5.4rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.job-title {
    @include flexCenter();
    margin-bottom: 1em;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $accent-color;
    font-weight: 400;
    text-align: center;
}

.subtext {
    @include flexCenter();
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;
    opacity: 0.8;
    margin-bottom: 8em;
    max-width: 70%;
}

.header-CTA {
    @include flexCenter();
    margin: 0 auto;
    font-size: 3.2rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.header-CTA a {
    text-decoration: none;
    color: $accent-color;
}

.header-CTA:hover {
    color: $accent-color;
    background-color: $bg-contrast-color;
    cursor: pointer;
    transition: ease 0.3s;
    justify-items: center;
}

// Skills Section:

.skills-section {
    background-color: $bg-skills-section;
}

.skills-title {
    font-size: $title-fontSize;
    color: $accent-color;
    @include flexCenter();
    @include titleBoxing();
    max-width: 100%;
}

.skills-section p {
    font-size: $text-fontSize;
    max-width: 75%;
    margin: 1em auto;
    @include textStyles();
}

.skills-grid {
    max-width: 100%;
    margin: 0 4em;
    margin-top: 3em;
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: $text-fontSize;
    gap: 4em;
}

.skills {
    background-color: $bg-contrast-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills h3 {
    margin-bottom: 1em;
    @include flexCenter();
}

.skills img {
    @include flexCenter();
    margin: 0 auto;
}

.js-icon {
    border-radius: 10px;
}

// My Projects Section

.projects-title-section {
    max-width: 100%;
    padding-bottom: 7em;
    background-color: $bg-contrast-color;
}

.projects-title {
    @include titleBoxing();
    @include flexCenter();
    color: $accent-color;
    text-align: center;
    font-size: $title-fontSize;
    text-transform: uppercase;
}

.projects-title-section p {
    max-width: 75%;
    margin: 1em auto;
    @include textStyles();
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'top-left top-right'
        'btm-left btm-right';
    // justify-items: center;
    padding: 10em 0;
}

.my-projects {
    max-width: 100%;
    margin: 0 auto;
    background-color: $bg-skills-section;
}

.my-projects h3 {
    font-size: 3.2rem;
    color: $accent-color;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 3em;
}

.portfolio-card {
    grid-area: top-left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    grid-area: btm-left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: $text-fontSize;
    margin-left: 0.5em;
}

.design-container {
    @include flexCenter();
    margin-bottom: 5em;
}

.dev-container {
    @include flexCenter();
    margin-bottom: 5em;
}

.portfolio-project-img {
    grid-area: top-right;
    max-width: 100%;
}
.portfolio-project-img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.landing-project {
    grid-area: btm-right;
    align-self: end;
    max-width: 100%;
}

.landing-project:hover {
    opacity: 0.8;
    cursor: pointer;
}

// Connect Section

.connect-section {
    max-width: 100%;
    margin: 0 auto;
    background-color: $bg-contrast-color;
}

.connect-title {
    font-size: 5rem;
    text-align: center;
    color: $accent-color;
    @include titleBoxing();
}

.connect-section p {
    font-size: $text-fontSize;
    max-width: 80%;
    margin: 1em auto;
    @include textStyles();
}

.connect-section strong,
a {
    color: $accent-color;
    text-decoration: none;
}

.connect-images {
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 7em;
}

.connect-image {
    margin-bottom: 4em;
}

.back-top {
    text-decoration: none;
    color: $text-color;
    font-size: $text-fontSize;
    @include flexCenter();
    padding: 1em;
}

.back-top:hover {
    font-weight: 500;
    transition: ease 0.3s;
}

// Media Queries:

@media (max-width: 1380px) {
    .profile-photo {
        max-width: 35%;
    }
}

@media (max-width: 1100px) {
    .profile-photo {
        max-width: 40%;
    }
    .projects-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            'top-left'
            'top-right'
            'btm-left'
            'btm-right';
        justify-items: center;
        max-width: 90%;
        margin: 0 auto;
    }
    .portfolio-card,
    .project-card {
        margin-bottom: 4em;
        max-width: 100%;
    }

    .portfolio-project-img {
        margin-bottom: 4em;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }
    .connect-images {
        max-width: 80%;
    }
}
@media (max-width: 883px) {
    .skills-grid {
        grid-template-columns: 1fr;
        max-width: 70%;
        margin: 0 auto;
        margin-top: 3em;
    }
}

@media (max-width: 749px) {
    .profile-photo {
        max-width: 50%;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .right-nav {
        display: none;
    }
    .toggle-btn {
        display: flex;
    }
    .right-nav.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .right-nav li {
        padding: 1em;
    }
    .right-nav li:hover {
        background-color: $bg-contrast-color;
    }
    .job-title {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 1em;
    }
}

@media (max-width: 449px) {
    body {
        text-align: center;
    }

    .header-container {
        height: auto;
    }

    .subtext {
        margin-bottom: 3em;
    }
    .connect-images {
        flex-direction: column;
        align-items: center;
    }
    .profile-photo {
        max-width: 60%;
    }
    .header-CTA {
        max-width: 60%;
        font-size: 2rem;
    }
    .landing-project {
        height: auto;
        width: 300px;
    }
    .portfolio-project-img {
        height: auto;
        width: 300px;
    }
}
