* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dee2e6;
  color: #343a40;
  max-width: 1700px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10em;
  position: relative;
  background-color: #e9ecef;
}

.left-nav {
  font-size: 3.2rem;
  margin: 0.5em;
}

.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  width: 50%;
  font-size: 2.5rem;
}

.connect {
  color: #ff6b6b;
}

.connect:hover {
  font-weight: 500;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

li a {
  text-decoration: none;
  color: #343a40;
}

li a:hover {
  color: #ff6b6b;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.toggle-btn {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 2.5rem;
  right: 3rem;
  width: 30px;
  height: 21px;
}

.toggle-btn .bar {
  height: 3px;
  background-color: #343a40;
}

.container {
  max-width: 100%;
}

.header-container {
  padding-bottom: 10em;
  background-color: #e9ecef;
}

.profile-photo {
  border-radius: 100%;
  height: auto;
  max-width: 25%;
  margin: 0 auto;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5.4rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.job-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #ff6b6b;
  font-weight: 400;
  text-align: center;
}

.subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  opacity: 0.8;
  margin-bottom: 8em;
  max-width: 70%;
}

.header-CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 3.2rem;
  padding: 0.5em 1em;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.header-CTA a {
  text-decoration: none;
  color: #ff6b6b;
}

.header-CTA:hover {
  color: #ff6b6b;
  background-color: #f8f9fa;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  justify-items: center;
}

.skills-section {
  background-color: #f1f3f5;
}

.skills-title {
  font-size: 5rem;
  color: #ff6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding-top: 1em;
  max-width: 100%;
}

.skills-section p {
  font-size: 2.5rem;
  max-width: 75%;
  margin: 1em auto;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.4;
}

.skills-grid {
  max-width: 100%;
  margin: 0 4em;
  margin-top: 3em;
  padding-bottom: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: 2.5rem;
  gap: 4em;
}

.skills {
  background-color: #f8f9fa;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills h3 {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.js-icon {
  border-radius: 10px;
}

.projects-title-section {
  max-width: 100%;
  padding-bottom: 7em;
  background-color: #f8f9fa;
}

.projects-title {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff6b6b;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
}

.projects-title-section p {
  max-width: 75%;
  text-align: center;
  margin: 1em auto;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.4;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'top-left top-right' 'btm-left btm-right';
  padding: 10em 0;
}

.my-projects {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f1f3f5;
}

.my-projects h3 {
  font-size: 3.2rem;
  color: #ff6b6b;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 3em;
}

.portfolio-card {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top-left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-card {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btm-left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card-title {
  font-size: 2.5rem;
  margin-left: 0.5em;
}

.design-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em;
}

.dev-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em;
}

.portfolio-project-img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: top-right;
  max-width: 100%;
}

.portfolio-project-img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.landing-project {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: btm-right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  max-width: 100%;
}

.landing-project:hover {
  opacity: 0.8;
  cursor: pointer;
}

.connect-section {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f8f9fa;
}

.connect-title {
  font-size: 5rem;
  text-align: center;
  color: #ff6b6b;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding-top: 1em;
}

.connect-section p {
  font-size: 2.5rem;
  max-width: 80%;
  margin: 1em auto;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.4;
}

.connect-section strong,
a {
  color: #ff6b6b;
  text-decoration: none;
}

.connect-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 7em;
}

.connect-image {
  margin-bottom: 4em;
}

.back-top {
  text-decoration: none;
  color: #343a40;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.back-top:hover {
  font-weight: 500;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

@media (max-width: 1380px) {
  .profile-photo {
    max-width: 35%;
  }
}

@media (max-width: 1100px) {
  .profile-photo {
    max-width: 40%;
  }
  .projects-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'top-left' 'top-right' 'btm-left' 'btm-right';
    justify-items: center;
    max-width: 90%;
    margin: 0 auto;
  }
  .portfolio-card,
  .project-card {
    margin-bottom: 4em;
    max-width: 100%;
  }
  .portfolio-project-img {
    margin-bottom: 4em;
  }
  .skills-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .connect-images {
    max-width: 80%;
  }
}

@media (max-width: 883px) {
  .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 3em;
  }
}

@media (max-width: 749px) {
  .profile-photo {
    max-width: 50%;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .right-nav {
    display: none;
  }
  .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right-nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .right-nav li {
    padding: 1em;
  }
  .right-nav li:hover {
    background-color: #f8f9fa;
  }
  .job-title {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

@media (max-width: 449px) {
  .subtext {
    margin-bottom: 3em;
  }
  .connect-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-photo {
    max-width: 60%;
  }
  .header-CTA {
    max-width: 60%;
    font-size: 2rem;
  }
  .landing-project {
    height: auto;
    width: 300px;
  }
  .portfolio-project-img {
    height: auto;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */