* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
  color: #343a40;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10em;
}

.left-nav {
  font-size: 2.5rem;
  margin: .5em;
}

.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  width: 50%;
  font-size: 2.4rem;
}

.connect {
  color: #ff6b6b;
}

.connect:hover {
  font-weight: 500;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

li a {
  text-decoration: none;
  color: #343a40;
}

li a:hover {
  color: #ff6b6b;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.container {
  height: 100vh;
  max-width: 100%;
}

.profile-photo {
  border-radius: 100%;
  height: auto;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5.4rem;
  font-weight: 400;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.job-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #ff6b6b;
  font-weight: 400;
}

.subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  opacity: 0.8;
  margin-bottom: 8em;
}

.header-CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 3.2rem;
  padding: .5em 1em;
  border: solid 2px #343a40;
  border-radius: 16px;
  color: #ff6b6b;
}

.header-CTA:hover {
  color: #ff6b6b;
  background-color: #f8f9fa;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
/*# sourceMappingURL=style.css.map */