// Variables:

$text-color: #343a40;
$accent-color: #ff6b6b;
$bg-color: #e9ecef;
$bg-contrast-color: #f8f9fa;
$bg-skills-section: #f1f3f5;
$title-fontSize: 5rem;
$text-fontSize: 2rem;

// Mixins:

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin titleBoxing() {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-top: 1em;
}

// Universal Resets:

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bg-color;
    color: $text-color;
}

// Nav Bar:

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10em;
}

.left-nav {
    font-size: 3rem;
    margin: 0.5em;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 50%;
    font-size: 2.4rem;
}

.connect {
    color: $accent-color;
}

.connect:hover {
    font-weight: 500;
    transition: ease 0.3s;
}

li a {
    text-decoration: none;
    color: $text-color;
}

li a:hover {
    // opacity: 0.8;

    color: $accent-color;
    transition: ease 0.3s;
}

// Header:

.container {
    // height: 100vh;
    max-width: 100%;
}

.header-container {
    // margin-bottom: 10em;
    height: 90vh;
}

.profile-photo {
    border-radius: 100%;
    height: auto;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5em;
    @include flexCenter();
}

.name {
    @include flexCenter();
    font-size: 5.4rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.job-title {
    @include flexCenter();
    margin-bottom: 1em;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $accent-color;
    font-weight: 400;
}

.subtext {
    @include flexCenter();
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    opacity: 0.8;
    margin-bottom: 8em;
    max-width: 70%;
}

.header-CTA {
    @include flexCenter();
    margin: 0 auto;
    font-size: 3.2rem;
    padding: 0.5em 1em;
    border: solid 2px $text-color;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.header-CTA a {
    text-decoration: none;
    color: $accent-color;
}

.header-CTA:hover {
    color: $accent-color;
    background-color: $bg-contrast-color;
    cursor: pointer;
    transition: ease 0.3s;
}

// Skills Section

.skills-section {
    max-width: 100%;
    background-color: $bg-skills-section;
    padding-bottom: 1em;
    height: 90vh;
}

.skills-title {
    font-size: $title-fontSize;
    color: $accent-color;
    @include flexCenter();
    @include titleBoxing();
    text-transform: uppercase;
}

.skills-section p {
    font-size: $text-fontSize;
    max-width: 80%;
    margin: 1em auto;
}

// Connect Section

.connect-section {
    max-width: 100%;
    margin: 0 auto;
    background-color: $bg-contrast-color;
}

.connect-title {
    font-size: 5rem;
    color: $accent-color;
    @include titleBoxing();
}

.connect-section p {
    font-size: $text-fontSize;
    max-width: 80%;
    margin: 1em auto;
}

.connect-images {
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 7em;
    // margin-bottom: 5em;
}

.connect-image {
    margin-bottom: 4em;
}

.back-top {
    text-decoration: none;
    color: $text-color;
    font-size: $text-fontSize;
    @include flexCenter();
    padding: 1em;
}

.back-top:hover {
    font-weight: 500;
    transition: ease 0.3s;
}
