// Variables:

$text-color: #343a40;
$accent-color: #ff6b6b;
$bg-color: #e9ecef; 
$bg-contrast-color: #f8f9fa;

// Mixins:

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Universal Resets:

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {

   font-family: 'Roboto', sans-serif;
   background-color:  $bg-color;
   color: $text-color;
}


// Nav Bar:

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10em;
}

.left-nav {
    font-size: 2.5rem;
    margin: .5em;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 50%;
    font-size: 2.4rem;
}

.connect {
    color: $accent-color;
}

.connect:hover {
    font-weight: 500;
    transition: ease 0.3s;
}


li a {
    text-decoration: none;
    color: $text-color;
}

li a:hover {
    // opacity: 0.8;
 
    color: $accent-color;
    transition: ease 0.3s;
}

// Header:

.container {
    height: 100vh;
    max-width: 100%;
}

.profile-photo {
    border-radius: 100%;
    height: auto;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5em;
    @include flexCenter();
}

.name {
    @include flexCenter();
    font-size: 5.4rem;
    font-weight: 400;
    margin-bottom: .5em;
    text-transform: uppercase;
}

.job-title {
    @include flexCenter();
    margin-bottom: 1em;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $accent-color;
    font-weight: 400;

}

.subtext {
    @include flexCenter();
    font-size: 2rem;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    opacity: 0.8;
    margin-bottom: 8em;
}

.header-CTA {
    @include flexCenter();
    margin: 0 auto;
    font-size: 3.2rem;
    padding: .5em 1em;
    border: solid 2px $text-color;
    border-radius: 16px;
    color: $accent-color;
}

.header-CTA:hover {
    color: $accent-color;
    background-color: $bg-contrast-color;
    cursor: pointer;
    transition: ease 0.3s;
}